[user]
    name = Lakshay Bhala
    email = lakshaybhala@gmail.com
    signingKey = "8C35DC1498F19C37FF928A8CF5F23D4DB7270DF8"
[core]
    editor = nvim
    excludesFile = /Users/LB/.config/git/ignore
    pager = delta
[gpg]
    program = gpg2
[commit]
    gpgsign = true
[pull]
    rebase = true
[pager]
    branch = false
[delta]
    syntax-theme = Nord
    line-numbers = true
[interactive]
    diffFilter = delta --color-only
[alias]
    ; Status/info
    st = status
    hist = log --graph --pretty=format:'%C(magenta)%h%Creset - %G?%C(red)%d%Creset %s %C(dim green)(%cr) %C(cyan)<%an>%Creset' --abbrev-commit
    di = diff --color-moved
    dic = diff --color-moved --cached
    stl = stash list
    last = log -1 HEAD

    ; Changes
    a = add
    cof = checkout --
    ap = add -p
    unstage = reset HEAD --
    rp = reset -p

    ; Commit
    ci = commit
    cia = commit --amend
    cim = commit -m

    ; Push/pull
    p = push
    pfwl = push --force-with-lease
    pu = push -u
    pl = git pull
    fpa = fetch -p --all
    cl = clone

    ; Rebase
    rb = rebase
    rbo = rebase --onto
    ri = rebase -i
    cont = rebase --continue
    abt = rebase --abort

    ; Branch/checkout
    co = checkout
    brd = branch -d
    cob = checkout -b
    br = branch
    brr = branch -r

    ; Stash
    sps = stash push
    stp = stash drop
    spi = stash push --keep-index
    spo = stash pop
    spa = stash apply

    ; Bisect
    bss = bisect start
    bsr = bisect reset
    bsg = bisect good
    bsb = bisect bad
    bsr = bisect run

    ; Merge
    mg = merge
    msq = merge --squash
    mso = merge --signoff
    mgc = merge --continue
    mga = merge --abort
