[user]
    name = Lakshay Bhala
    email = lakshaybhala@gmail.com
    signingkey = 8C35DC1498F19C37FF928A8CF5F23D4DB7270DF8
[core]
    editor = nvim
    excludesfile = /Users/LB/.config/git/ignore
[alias]
    st = status
    co = checkout
    cob = checkout -b
    ci = commit
    cim = commit -m
    cis = commit -sS
    cism = commit -sS -m
    last = log -1 HEAD
    unstage = reset HEAD --
    hist = log --graph --pretty=format:'%C(magenta)%h%Creset - %G?%C(red)%d%Creset %s %C(dim green)(%cr) %C(cyan)<%an>%Creset' --abbrev-commit
    di = diff --color-moved
    dic = diff --cached --color-moved
    p = push
    psu = push --set-upstream
    br = branch
    mg = merge
    mgs = merge -sS
    mgvs = merge --verify-signatures -sS
[pager]
    branch = false
[pull]
    rebase = true
[commit]
    gpgsign = true
[gpg]
    program = gpg2
