[user]
    name = Lakshay Bhala
    email = lakshaybhala@gmail.com
    signingKey = "8C35DC1498F19C37FF928A8CF5F23D4DB7270DF8"
[core]
    editor = nvim
    excludesFile = /Users/LB/.config/git/ignore
    pager = delta
[gpg]
    program = gpg2
[commit]
    gpgsign = true
[pull]
    rebase = true
[pager]
    branch = false
[delta]
    syntax-theme = Nord
    line-numbers = true
[interactive]
    diffFilter = delta --color-only
[alias]
    st = status
    co = checkout
    cob = checkout -b
    ci = commit
    cim = commit -m
    cis = commit -sS
    cism = commit -sS -m
    last = log -1 HEAD
    unstage = reset HEAD --
    hist = log --graph --pretty=format:'%C(magenta)%h%Creset - %G?%C(red)%d%Creset %s %C(dim green)(%cr) %C(cyan)<%an>%Creset' --abbrev-commit
    di = diff --color-moved
    dic = diff --cached --color-moved
    p = push
    psu = push --set-upstream
    br = branch
    mg = merge
    mgs = merge -sS
    mgvs = merge --verify-signatures -sS
    cont = rebase --continue
    ri = rebase -i
    pf = push --force
